html {
  background: url(https://scontent-ort2-2.cdninstagram.com/vp/fd321c90ddd48898e42d7da58dc53585/5BDA0457/t51.2885-15/e35/19121196_1974023296160144_6525512982984654848_n.jpg) center;
  background-size: cover;
  font-family: 'Electrolize', sans-serif;
}

.lambda {
  text-align: center;
  font-size: .5em;
  margin: 0;
  padding: .5em;
  line-height: 1em;
}

body,html {
  margin: 0;
  padding: 0;
}

#main {
  text-align: center;
  cursor: pointer;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 1px solid gray;
  display: cursor;
  border-radius: .2rem;
  transition: all .02s ease;
  padding: .5em;
  margin: .5em;
  height: 5em;
  width: 5em;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
}

.playing {
  transform: scale(1.2);
}

kbd {
  display: block;
  font-size: 2rem;
}

.sound {
  color: #333;
}
